*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color:#002333;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;


}
nav ul li {
    display: inline-block;
  
    margin: 5px 45px;
}
nav ul li a {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}
 a::before{
    content: "";
    display: block;
    align-items: center;
    padding: 0 15px;

    width: 35px;
    height: 13px;
   
    background:linear-gradient(#159A9C,#0defff);
    position: absolute;
    bottom: 29px;
    scale: 0;

}
a:hover:before{
    transition: .5s;
 scale: 1;
}
a:hover{
    color: #159A9C;
}
.content{
    display: flex;
    flex-direction: column;
    margin: 300px 200px;
    padding: 10px 5px ;
  font-size: 30px;
   color: #FFFFFF;
}
span{
    color: #0defff;  
    font-size: 50px;
    font-weight: 900;
}
.socails{
        display:flex;
   position: relative;
justify-content: center;

}
.socails img{

   display: inline-block;
position: relative;
bottom: 70px;

right: 700px;
margin: 0 20px;
margin-right: 10px;
height: 20px;
cursor: pointer;
}
.btn{


    margin: 0 10px;
}
 button{
    margin-left: 79px;
    margin-top: 23px;
    width: 150px;
    height: 50px;
    border-radius: 32px;
   border: none;
    background:linear-gradient(#159A9C,#0defff);

    color: whitesmoke;
}
button:hover{
    background: whitesmoke;
    box-shadow: 0 2px 15px rgba(80, 191, 243, 0.26);
    color: #002333;
    cursor: pointer;
}
.custom-shape-divider-bottom-1691122452 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1691122452 svg {
    position: relative;
    display: block;
    width: calc(146% + 1.3px);
    height: 184px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1691122452 .shape-fill {
    fill: #0DEFFF;
}